.header {
    width: 100%;
    position: sticky;
    top: 0;
    background: url(https://pbs.twimg.com/profile_banners/1038329065772478464/1628081829/1500x500);
    background-position: 0;
    text-align: center;
    font-size: 43px;
    text-shadow: 0 0 5px black;
  background-size: 80%;
    background-position: 0;
    font-family:-webkit-body;
}

body {
    background: #191822;
    color: #413779;
  margin:0;
    font-family:Noto Sans JP;
}

.content {
    margin:8px 30px;
}

a {
    text-decoration:none;
}

/**********/

.thumb:hover {
    transform:scale(1.09);
}

.thumb {
    display: inline-block;
    position: relative;
    transition:0.2s ease all;
    width:100px;
    height:100px;
}

.frame3 {
    position: absolute;
    background: url(https://www.d4db.xyz/assets/chara/icon/frame3.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}

.frame4 {
    position: absolute;
    background: url(https://www.d4db.xyz/assets/chara/icon/frame4.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}

.attr-street {
    position: absolute;
    top: 1.5%;
    right: 1%;
    width: 25px;
    height: 25px;
}

.attr-street {
    background: url(https://raw.githubusercontent.com/RayFirefist/D4DB/master/public/assets/chara/type/icon_street.png);
    background-size: cover;
}

.star-01, .star-02, .star-03, .star-04 {
    position: absolute;
    left: 2.5%;
    width: 18.75px;
    height: 18.75px;
    background: url(https://raw.githubusercontent.com/RayFirefist/D4DB/master/public/assets/chara/rarity/normal.png);
    background-size: contain;
}

.star-01 {
    top: 80%;
}

.star-02 {
    top: 65%;
}

.star-03 {
    top: 50%;
}

.star-04 {
    top: 35%;
}

.unit-pkpk {
    position: absolute;
    top: 1.5%;
    left: 2%;
    width: 25px;
    height: 25px;
}

.unit-pkpk {
    background: url(https://raw.githubusercontent.com/RayFirefist/D4DB/master/public/assets/chara/unit/unit_2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

img.thumb-img {
    height: 100px;
    border-radius:8px;
}

.content {
    display: grid;
    justify-content: center;
    grid-template-rows: minmax(0,1fr) min-content;
    grid-template-rows: max-content;
}

.container {
    width: 535px;
    /* justify-content: center; */
}

p i {
    font-size: 47px;
}

#hell {
    margin-left: 23px;
}

.container.stats {
    width: 602px;
}

.container.results {
    background: #0e0d14;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid currentColor;
    margin-top: 10px;
}

.container.controls {
    margin-top: 8px;
}

.btn.rollbutton {
    background: #413779;
    border: 1px solid #413779;
    color: #bb91ff;
}

.btn {
    font-variant: small-caps;
    transition: 0.4s all ease;
    padding: 5px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
    min-width: 64px;
    border-radius: 5px;
}

.btn.btn-secondary {
    color: #cbc7f4;
    border: 1px solid gray;
    background: #635f83;
}

.btn.rollbutton:hover {
    background: #2f2b56;
}

.btn.btn-secondary:hover {
    background: #4a4762;
}
